/*Estilo de Index*/

body{
    font-family: 'Poppins';
    .Menu{
        a{
            color: #726464 ;

        }
    }
}
a{
    color: white;
    transition: all .5s;
}
a:link, a:visited {
    color: rgb(255, 255, 255) ;
}
.PaginaPrincipal{
    background-color: beige;
    background-image: url("imagenes/fondo_quiz.jpg");
    background-size: cover;
    text-align: center;
    font-size: 26px;
}
.TituloPrincipal{
    border: 7px dashed lightpink;
    margin: 10px;
    padding: 5px 30px;
}
#principal{
    width: 100px;
    float: left;
}
.TituloPrincipal{
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}


div.especial{
    border: none;
    margin: 30px;
    padding: 5px 30px;
}
a:link , a:visited{
    color: violet;
}
a:hover{
    font-size: 1.1em;
}
a:active{
    font-weight: bold;
}

/*Estilo de Geografia*/

.tituloGeo{

    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.paginaUno{
    background-image: url("imagenes/fondoGeo.jpg");
    background-size: cover;
    background-attachment: fixed;


}

.tituloGeo2{
    color: #ffffff;
    text-align: center;
    border: none;
    margin: auto;
    margin-bottom: 2vh;
}
.aciertos{
    padding-block: 5vh;
}
.p{
    border: none;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        margin-block: 0;
        margin-bottom: .7em;
    }

}
#quizForm{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.container{
    background-color: #84c3ec;
    width: 50vw;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    .p{
        label{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 2vw;
            background-color:#5d9bc554;
        }
        label:hover{
            background: #5d9bc5;
            transition: all .5s;
        }
    }
}


#p0{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p1{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p2{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p3{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p4{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p5{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p6{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p7{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p8{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p9{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p10{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p11{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p12{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p13{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p14{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p15{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p16{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
#p17{
    padding: 10px;
    font-size: 18px;

    display: block;
    border-radius: 10px;

}
label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 3px;
}

.botonGeo{
    font-family: 'Poppins';
    font-size: 1.7vh;
    font-weight: 600;
    width: 53vw;
    display: block;
    margin: auto;
    padding: 2vh;
    cursor: pointer;
    background-color: rgb(127, 208, 255);
    border-radius: 100px;
    border: none;
}
.botonGeo:hover{
    transition: all .5s;
    background: rgb(76, 145, 185);
}
.volverButton{
    color: white !important;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*Estilo de Deporte*/

.tituloDep{


    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;


}
.contenido{
    background-image: url("imagenes/fondoDep.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#quizzForm2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.deporte{
    background-color: rgb(28, 85, 45);
    width: 50vw;
    border-radius: 20px;
    margin: auto;
    padding: 40px;
    h3{
        margin: 0px;
    }
}
.tituloDep2 {
    text-align: center;
    border: none;
    margin-bottom:2rem;
}
.pr{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    label{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-radius: 7px;
        cursor: pointer;

        background: #ffffff18;
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 2vw;
        label:hover{

            transition: all .5s;
        }
    }
    label:hover{
        background: rgba(0, 0, 0, 0.178) ;
    }
}


.botonDep{
    color: white;
    font-family: 'Poppins';
    font-size: 1.7vh;
    font-weight: 600;
    width: 55vw;
    display: block;
    margin: auto;
    padding: 2vh;
    cursor: pointer;
    background-color: rgb(72, 141, 101);
    border-radius: 100px;
    border: none;
}
.botonDep:hover{
    background-color: rgb(46, 100, 69);
    transition: all .5s;
}

/*Estilo de Entretenimiento*/

.PaginaDos{

    background-image: url(imagenes/fondoEnt.jpg);
    background-attachment: fixed;
    text-align: center;
    font-size: 18px;
}
.tituloEntre{
    background-color: #631e1e;
    box-shadow: 10px 10px 20px 0px #00000056;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tituloEntre2{
    color: white;
    text-align: center;
    border: none;
    margin-bottom: 1.8rem;
    font-size: 30px;
}
#quizzForm3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.pre{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #631e1e;
    width: 45vw;
    border-radius: 20px;
    height: 25vh;
    h3{
        margin-block-start: 0;
        margin-block-end: 2em;
        font-size: 110%;
    }
}
.botonEntre{
    color: white;
    font-family: 'Poppins';
    font-size: 1.7vh;
    font-weight: 600;
    width: 55vw;
    display: block;
    margin: auto;
    padding: 2vh;
    cursor: pointer;
    background-color: #742222;
    border-radius: 100px;
    border: none;
}
.botonEntre:hover{
    background: #551d1d;
    transition: all .5s;
}
.entreteni{
    display: block;
    padding: 1px;
    border-radius: 0;
    cursor: pointer;
    border: none;
    margin-bottom: 2px;
}

.entreteni:hover{
    background: none;
}
